fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
supabase
azure-identity
openai
beautifulsoup4
pypdf
langchain
langchain-openai
langchain-databricks
langchain-community
python-jose[cryptography]
