fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
supabase
azure-identity
openai
beautifulsoup4
pypdf
langchain
langchain-openai
langchain-community
python-jose[cryptography]
azure-search-documents
langchain-azure-ai
pydantic[email]
python-multipart